.root-container {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  font-family: "Poppins", sans-serif;
}
.root-container > h1 {
  font-size: large;
}

.root-container > *:not(:last-child) {
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.input-container span {
  margin-bottom: 5px;
}

.input-container > input {
  margin-top: 5px;
}

.table-container {
  margin-top: 10px;
}

th {
  text-align: left;
}

tr {
  margin-bottom: 5px;
}
